  <nav id="header">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Job Posting</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/open-application">Saved Jobs</a></li>
      </ul>
    </div>
  </nav>

<div class="container">	
	{{#each jobs}}
		<div class="listing">
			<div class="title">			
				<p id="position{{this.id}}">{{this.position}}</p>
			</div>
			<p id="description{{this.id}}"><span>Description:</span> {{this.description}}</p>
			<p id="location{{this.id}}"><span>Company & Location:</span> {{this.about}}</p>
			<a target='_blank' id="link{{this.id}}" href="{{this.link}}"><span>Link: </span>See Page</a>
			<br>
			<button listing='{{this.id}}' class='save'>Save Job</button>
		</div>
	{{/each}}
</div>