<div class="container">	
	<div class="header">
		<h2>Job Posting</h2>
		<button><a href="/open-application">Saved Jobs</a></button>
	</div>	
	{{#each jobs}}
		<div class="listing">
			<div class="title">			
				<p id="position{{this.id}}">{{this.position}}</p>
			</div>
			<p id="description{{this.id}}">{{this.description}}</p>
			<p id="location{{this.id}}">{{this.about}}</p>
			<a target='_blank' id="link{{this.id}}" href="{{this.link}}">See Page</a>
			<button listing='{{this.id}}' class='save'>Save Job</button>
		</div>
	{{/each}}
</div>